* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../imgs/register-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    max-width: 500px;
    width: 100%;
    margin: 100px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
h1 {
    text-align: center;
}
.info {
    display: flex;
    flex-direction: column;
}
.info div {
    display: flex;
    gap: 5px;
}
input {
    height: 40px;
}
label {
    font-size: 20px;
    margin-top: 10px;
}
button {
    background-color: aquamarine;
    height: 56px;
    font-size: 30px;
}