/* .tabs-container {
  padding: 20px;
}

.tabs-container.show-sidebar {
  margin-left: 200px;
  width: calc(100% - 200px);
} */

/* .tab-buttons {
  display: flex;
  overflow: hidden;
  width: 300px;
} */

.tab-button {
  flex: 1;
  padding: 10px 16px;
  background-color: #f5f5f5;
  cursor: pointer;
  border-right: none;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #ccc;
  width: 75px;
}

.tab-button:last-child {
  border-right: 1px solid black;
}

.tab-button:hover {
  background-color: #e0e0e0;
}

.active-tab {
  background-color: white;
  font-weight: bold;
  border-bottom: none;
}

.tab-content {
  width: 300px;
  padding: 20px;
  background-color: white;
  font-weight: bold;
}
